 <%- include('../partials/head', {titleName: "Home page"}) %>
<body>
  <%- include('../partials/header', {title:"Home Page"}) %> 
  <nav class="navbar navbar-light bg-light navbar-nav  mx-auto">
    <ul class="nav">
     <li class="nav-item">
        <form action="/search" method="GET" class="d-flex searchForm">
        <div class="row">
          <div class="col col-7">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search"  name="search" id="search"
            />
          </div>
          <div class="col col-1">
            <button class="btn btn-outline-success" id="go" type="submit"> GO </button>
          </div>
        </div>
        </form>
      </li>
      <li>
        <a class="nav-link active text-dark btn" aria-current="page" href="<%= loggedUser ? "/addLocation": "" %>">
          <%= loggedUser ? "Add location" : "" %> 
      </a>
      </li>
    </ul>
  </nav>

  <main class="container pt-5" id="locationsContainer">
    <div class="row row-eq-height thumbnail">
          <% locations.forEach(function(image) { %>
          <div class="col-md-3">
          <div class="img-thumbnail">
            <a href="/location/<%=image._id%>" class="thumbnail">
            <img class="img-left img-thumbnail" src="<%=image.img.filePath%> " alt="...">
          </a>
            <div class="details">
              <h6 id="image-name" class="thumbnail">
                <a href="/location/<%=image._id%> "><%= image.name%></a>
              </h6>
              <p id="image-description">
                <%= image.desc %>
              </p>
              <p id="comments"> Comments:
                <%= image.comments.length%>
              </p>
              <p id="likes"> Likes:
                <%= image.interactions.filter(function(ele){ return ele.interaction == '1';}).length  %>
              </p>
            </div>
          </div>
            </div>
 
      <% }) %>
    </div>
  </div>  
  </main>
  <footer></footer>
  <%- include('../partials/scripts') %>
<!--the include ends body -->
<%- include('../partials/bottom') %> 
