<%- include('../partials/head', {titleName: "Signup"}) %>
<body class="h-100 bg-primary position-relative">

    <main class="container-fluid h-100">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="card" style="width: 25rem;">
                <div class="card-body">

                    <h2 class="text-center mb-4">REGISTER</h2>
                    
                    <form action="/register" method="POST">
                        <div class="mb-3">
                          <label  class="form-label">First name</label>
                          <input type="text" class="form-control" name="firstName" value="<%= firstName %>">
                        </div>
                        <div class="mb-3">
                          <label  class="form-label">Surname</label>
                          <input type="text" class="form-control" name="surName" value="<%= surName %>">
                        </div>
                        <div class="mb-3">
                          <label  class="form-label">Email address</label>
                          <input type="email" class="form-control" name="email" value="<%= email %>">
                        </div>
                        <div class="mb-5">
                          <label class="form-label">Password</label>
                          <input type="password" class="form-control" name="password">
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-block">Register </button>
                        </div>
                        
                        <div class="d-grid gap-2">
                          <a href="/login" class="pt-3"> I already have an account</a>
                        </div>
                      </div>

                      </form>
                    
                </div>
            </div>
        </div>
    </main>

    <div class="toast-container position-absolute top-0 end-0 p-3">
        <!-- Then put toasts within -->
        <div id="message" class="toast bg-danger align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body text-white">
                <%= message %> 
              </div>
              <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    
    <footer>
    </footer>
    <%- include('../partials/scripts') %> 
<!--the include ends body -->
<%- include('../partials/bottom') %> 